/* color palette from <https://github.com/vuejs/theme> */
:root {
 
  --color-background: #ffffff;
  --color--primary: #d70018;
  --color-bg-hover: rgba(217,83,79,.1);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 14px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
 
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
ul{
  list-style: none;
  padding: 0;
}
body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
strong{
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
hr {
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}
